*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html
{/* a cada 1rm sera 10px*/
  font-size: 32.5%;
}

html, body
{
  background-color: rgb(243, 241, 241);
}

.main
{
  display: flex;
  justify-content: space-between;
  /*overflow: hidden;*/
  
}