.msg-ref
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.msg-ref .msg-ref-data
{ 
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  

  /*
  display: flex;
  justify-content: flex-end;
  */
  
}


.msg-ref .msg-ref-data .msg-ref-text
{ 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  
  
  
  /*
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: -31px;
  */
  /*left:100px;*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*box-shadow: rgba(0, 0, 0, 0.15) 0.95px -2.05px 2.6px;*/
}

.msg-ref .msg-ref-data .me
{ 
  /* opacity: 0.5; */
  
  border-radius: 25px;
  background-color: #333333;
  padding: 5px 10px;
  max-width: 260px;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;
  color:white;
  
  
  /* line-height: 18px; */

  line-break:auto;
  overflow-wrap: break-word;
  white-space: normal;
  vertical-align: baseline;
  max-width: 236px;
  text-align: justify; 
  position: relative;
  box-shadow:rgba(0, 0, 0, 0.3) 0px 2px 1px 0px;
}

/* .msg-ref .msg-ref-data .me::before,
.msg-ref .msg-ref-data .me::after
{
  content: "";
	position: absolute;

	height: 10px;
	width: 20px;

	bottom: 0;
}

.msg-ref .msg-ref-data .me::before
{ 
  left: 185px;
  top: 46px;
  border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 10px 0 0;
  box-shadow: 13px -2px 0 0 #333333;
} */

.msg-ref .msg-ref-data .them
{ 
  border: 1px solid #e0e0e0;
  border-radius: 22px;
  background-color: white;
  padding: 5px 10px;
  max-width: 236px;
  box-sizing: content-box;
  overflow-wrap: break-word;
  
  
  color: #262626;
  line-height: 18px;
  white-space: normal;
  justify-content: center;
}

.msg-ref .msg-ref-data .msg-ref-text span
{
  
  
}


.msg-ref .msg-ref-data .msg-ref-text .filler
{ /*
  height: 40px;
  background-color: #fff;
  max-width: 250px;*/
}



.msg-ref .msg-ref-data .msg-ref-picture
{ 
  /*position: relative;
  top: -94px;
  border-radius: 7px;
  display: flex;
  justify-content: baseline;
  height: 100px;
  z-index: 5;
  margin-right: 50px;
  background-color: #fff;
  box-sizing: content-box;

  /*
  
  /*position: relative;
  top: -57px;
  left:100px;
  box-shadow:rgba(0, 0, 0,  0.10) 0px 4px 6px -1px;
  box-shadow:rgba(0, 0, 0, 0.3) 0px -3px 4px -1px;*/
}

.msg-ref .msg-ref-data .msg-ref-picture img
{
  border-radius: 7px;
  
  object-fit: contain;
  max-width: 100px;
  max-height: 100px;
  
  
  box-shadow:rgba(0, 0, 0,  0.10) 0px 4px 6px -1px;
  box-shadow:rgba(0, 0, 0, 0.3) 0px -3px 4px -1px;
}
