.profile-component
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 400px;
  width:100%;
  
}

.profile-component .content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:solid 1px #ddd;
  background-color: white;
  height:80vh;
  border-radius: 25px;
}

.profile-component .content .profile-data
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-component .content .profile-data .profile-pic img
{
  border-radius: 50px;
}

.profile-component .content .profile-data .profile-name
{ 
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 3rem;
  font-family: helvetica;
}

.profile-component .content .profile-data .profile-email
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: helvetica;
  font-size: 11.5px;
  color: #8e8e8e;
}

.profile-component .content .profile-details
{
  display: flex;
}

