.chat-history
{
  display: flex;
  flex-direction: column;
  scrollbar-color: #D4AA70;
  height:100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-history .fresh-rooms
{ 
  overflow-y: visible;
  display: flex;
  flex-direction: column-reverse;
}


.room-item
{
  
}

.room-item-active .room
{
  background-color: #efefef;
}

.room-item:first-of-type
{
  /*
  box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
  border: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  */
}

.load .loading-container
{
  
  display:flex;
  
  justify-content:center;
  overflow-y: auto;
  width: 100%;
  align-items: center;
}

.room-item :hover
{
  
  background-color: #efefef;
}

.room-item a
{
  
}

