.room
{
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f8f7f7;
}

.room .room-features
{
  color: black;
  text-decoration: none;
  padding: 6px 8px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  overflow-y: auto;
  width: 100%;
  
}

.room .room-features .user-icon
{
  position: relative;
}

.room .room-features .user-icon .improvised-profile-pic .colored-icon
  {
    height: 50px;
    width: 50px;
  }

.room .room-features .user-icon img
{
  border-radius: 50px;
}

.room .room-features .user-icon .online-sign
{ 
  position: absolute;
  left: 71%;
  top: 69%;
  height: 12px;
  width: 12px;
  background-color: lawngreen;
  border-radius: 50%;
  border: 2px solid #f8f7f7;
}

.room .room-features .room-text
{ 
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
}

.room .room-features .room-text .user-name
{
  padding: 2px 15px;
  font-size: 11.5px;
}

.room .room-features .room-text .last-message
{
  font-size: 10.5px;
  color: #8e8e8e;
  padding: 1px 10px;
}

.room .sidebar-options
{
  position: relative;
  height:5px;
  width:5px;
}

.room .sidebar-options .settlement
{ 
  position: absolute;
  top: -116%;
  left: -425%;
}

.room .sidebar-options .settlement .options
{
  width: 5px;
  height: 5px;
  font-size: 15px;
  color: #333333;
}

.room .sidebar-options .settlement .options .popup-icon svg:hover
{
  background-color: #ddd;
  border-radius: 3px;
}

.room .sidebar-options .settlement .options .popup-show
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  visibility: show;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  background-color: #fff;
  color: black;
  border: solid 1px #ddd;
  box-shadow: 0 0 0.5em rgb(187, 187, 187);
  font-size: 15px;
  top: -570%;
  left: 824%;
}

.room .sidebar-options .settlement .options .popup-show .options-item
{
  border-bottom: solid 1px #ddd;
  padding: 5px;
  width: 100%;
}

@media (max-width: 760px){

  /* .room .room-features .user-icon .online-sign
  { 
    
    left: 22%;
    top: 70%;
    
  } */

}

@media (max-width: 615px){

  .room .room-features .user-icon img
  {
    height: 43px;
    width: 43px;
  }
  
  .shruken .chat-history .room .room-features
  {
    color: black;
    text-decoration: none;
    padding: 6px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    overflow-y: auto;
    width: 100%;
  }

  .room .room-features .user-icon .improvised-profile-pic .colored-icon
  {
    height: 43px;
    width: 43px;
  }

  /* .room .room-features .user-icon .online-sign
  { 
    
    left: 19%;
    top: 70%;
    
  } */

  .hidden .chat-history .room .room-features .improvised-profile-pic .colored-icon
  {
    display: none
  }

  .hidden .chat-history 
  {
    display: none
  }

  .hidden .chat-history .room-item
  {
    display: none
  }

  .hidden .chat-history .room .room-features .room-text
  { 
    display: none;
  }

  .hidden .chat-history .room .sidebar-options
  {
    display: none;
  }

  .shruken .chat-history .room .room-features .room-text
  { 
    display: none;
  }

  .shruken .chat-history .room .sidebar-options
  {

    display: none;
  }

  .room .room-features
  {
    display:flex;
    flex-direction: row;
    justify-content:center;
    color: black;
    text-decoration: none;
    overflow-y: auto;
    width: 100%;
  }

}


