.sidebar 
{ 
  background: #ffffff;
  border-radius: 0 7px 7px 0;
  padding: 0;
  font-family: helvetica;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 250px;
  width:100%;
}

.sidebar .logout
{
  border:none;
  background-color: transparent;
  display: flex;
  color:white;
  align-items: center;
  margin:10px;
}

.profile
{
  display: flex;
  background-color: #333333;
  border-radius: 0 7px 0 0;
  width: 100%;
  padding: 8px;
}

.profile-image
{
  border-radius: 3px;
}

.profile .logout
{
  color:white;
  font-size: 12.5px;
}

.user-data
{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  line-height: 18px;
  padding-left: 8px;
}

.user-data .name
{
  color:white;
  
  font-size: 12.5px;
}

.user-data .email
{
  font-size: 10.5px;
  color: #8e8e8e;
}

@media (max-width: 890px)
{

  .sidebar 
  { 
  height: 100vh;
  max-width: 200px;
  width:100%;
  }

  .sidebar .logout
  {
  
  }

  .profile
  {
    padding: 8px;
  }

  .profile-image
  {
    width: 55px;
    height: 55px;
  }

  

  .profile .logout
  {
    margin:5px;
  }

  .user-data
  {
    line-height: 14px;
    padding-left: 5px;
  }

  .user-data .name
  {
    color:white;
  
    font-size: 10.5px;
  }

  .user-data .email
  {
    font-size: 9.5px;
    color: #8e8e8e;
  }

  
}